.gradient {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}
.movies-wrapper::-webkit-scrollbar {
  display: none;
}
.main-bg {
  background: url(https://assets.nflxext.com/ffe/siteui/vlv3/b4c7f092-0488-48b7-854d-ca055a84fb4f/5b22968d-b94f-44ec-bea3-45dcf457f29e/IN-en-20231204-popsignuptwoweeks-perspective_alpha_website_large.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.activeCard{
  position: absolute;
  transform: scale(1.4);
  transition: .4s all;
  z-index: 9;
}
.card-wrap.activeCard .card-details{
  transform: translateY(-100%);
  padding: 10px;
}
